{% extends 'base.html' %}

{% block content %}
<header class="masthead">
   <div class="container d-flex h-100 align-items-center">
      <div class="col-12">
         <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">
               About Recipe Pot
            </h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">
               Register or use our search bar to look for recipes.
            </h2>
         </div>
      </div>
   </div>
</header>

{% endblock %}