{% extends 'base.html' %}
{% block content %}
	<header class="masthead">
		<div class="container d-flex h-100 align-items-center">
			<div class="col-12">
				<div class="mx-auto text-center">
					<h1 class="mx-auto my-0 text-uppercase">
						Find Recipe
					</h1>
					<h2 class="text-white-50 mx-auto mt-2 mb-5">
						Use search bar to look for recipes.
					</h2>
				</div>
				<div class="col-md-10 col-lg-8 mx-auto text-center">
					<form class="form-inline d-flex">
						<input class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" type="text" placeholder="Enter your dish name...">
						<button class="btn btn-primary mx-auto text-capitalize" type="submit">Search</button>
					</form>
				</div>
			</div>
		</div>
	</header>
    <section class="recipe-section">
        <div class="container">
        
        </div>
    </section>
{% endblock %}