{% extends 'base.html' %}
{% block content %}
<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="col-12">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">
          {{recipe.recipe_name}}
        </h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">
          Bellow you will find information about this recipe.
        </h2>
        <a class="btn btn-primary js-scroll-trigger" href="#recipe">Recipe information</a>
      </div>
    </div>
  </div>
</header>
<section id="recipe">
    <div class="container">
        <div class="row">
            <div class="col-5 text-center p-0">
                <img src="{{recipe.img_url}}" class="img-fluid" alt="">
            </div>
            <div class="col-7 text-center bg-black">
                <h2>{{recipe.recipe_name}}</h2>
                
                <h3>ingredients</h3>
                <ul>
                    <li>recipe ings</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <h3>Steps</h3>
                <ul>
                    <li>step 1</li>
                </ul>
            </div>
        </div>
    </div>
</section>


{% endblock %}